<%%- model_class = <%= model.name.sub(/\ATemplate::/, '::Template::') %> -%>
<table class="table table-striped">
  <thead>
    <tr>
      <%- model.columns_for(:index).each do |column| -%>
      <th><%%= model_class.human_attribute_name(:<%= column.name %>) %></th>
      <%- end -%>
      <th><%%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%% @<%= model.plural_full_resource_name %>.each do |<%= model.full_resource_name %>| %>
      <tr>
        <%- model.columns_for(:index).each do |column| -%>
          <%- if column.linkable? -%>
        <td><%%= link_to <%= model.full_resource_name %>.<%= column.name %>, <%= singular_controller_routing_path %>_path(<%= model.full_resource_name %>) %></td>
          <%- elsif tcol = column.ref_model.try(:title_column) -%>
        <td><%%= <%= model.full_resource_name %>.<%= column.reference.name %>.<%= tcol.name %> %></td>
          <%- elsif column.enumerized? -%>
        <td><%%= <%= model.full_resource_name %>.<%= column.name %>_text %></td>
          <%- elsif column.to_be_localized? -%>
        <td><%%=l <%= model.full_resource_name %>.<%= column.name %> %></td>
          <%- else -%>
        <td><%%= <%= model.full_resource_name %>.<%= column.name %> %></td>
          <%- end -%>
        <%- end -%>
        <td>
          <%%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_<%= singular_controller_routing_path %>_path(<%= model.full_resource_name %>), :class => 'btn btn-default btn-xs' %>
          <%%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      <%= singular_controller_routing_path %>_path(<%= model.full_resource_name %>),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <%% end %>
  </tbody>
</table>
